@font-face {
    font-family: PingFang-Reg;
    src: url(font/PingFang-Regular.ttf);
}

@font-face {
    font-family: SF-Pro-Text-Reg;
    src: url(font/sf-pro-text_regular.ttf);
}

body {
    font-family: SF-Pro-Text-Reg, PingFang-Reg;
}

.left-column {
    float: left;
    width: 30%;
    background-color: #4E93FA;
    min-height: 100vh;
}

.right-column {
    background-color: #FAFAFA;
    float: right;
    width: 70%;
    min-height: 100vh;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center;
}

a {
    text-decoration: none;
}

.left-column .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.left-column .profile .information {
    margin-bottom: 0;
}

.left-column .profile .information h1 {
    color: #FFF;
    margin-bottom: 16px;
}

.left-column .profile .information .p {
    color: #FFF;
    opacity: 0.8;
    backdrop-filter: blur(50px);
}

.left-column .profile .information .p:hover {
    opacity: 1;
}

.left-column .profile .intro {
    background-color: #FFF;
    opacity: 0.8;
    backdrop-filter: blur(50px);
    border-radius: 6px;
    padding: 2px;
}

.left-column .profile .intro:hover {
    opacity: 1;
}

.left-column .profile .information p {
    color: #4E93FA;
    opacity: 0.8;
}

.left-column .profile .information p:hover {
    opacity: 1;
}

.left-column .profile .intro a {
    text-decoration: none;
    color: #4E93FA;
}

.left-column .avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.center hr {
    margin-bottom: 20px;
    width: 50px;
    background-color: #FFF;
    opacity: 0.8;
    backdrop-filter: blur(50px);
}

.left-column .nav {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(50px);
    opacity: 0.8;
    margin: 0;
    text-align: center;
    font-size: 16px;
    gap: 20px;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.left-column .nav:hover {
    opacity: 1;
}

.left-column .nav a {
    text-decoration: none;
    color: #FFF;
    backdrop-filter: blur(50px);
}

.text-with-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    backdrop-filter: blur(50px);
}

.text-with-underline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #FFF;
    backdrop-filter: blur(50px);
    transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.text-with-underline:hover:after {
    width: 100%;
}

.left-column .center .artical {
    /* background-color: #FFFFFF;
    opacity: 0.8;
    backdrop-filter: blur(50px);
    border-radius: 5px; */
    padding: 2px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.left-column .center .artical p {
    margin: 0;
    text-decoration: none;
    color: #FFF;
    opacity: 0.8;
    backdrop-filter: blur(50px);
}

.left-column .center .artical p:hover {
    opacity: 1;
}

.left-column .center .artical a {
    text-decoration: none;
    color: #FFF;
}

.centre {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.card {
    margin-top: 20px;
    background-color: #FFF;
    border-radius: 6px;
    display: flex;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.025);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), filter 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(1.0);
    filter: brightness(1.0);
}

.card:hover {
    transform: scale(1.01);
    filter: brightness(0.85);
}

.card .title {
    margin: 6px;
}

.card h3 {
    color: #333;
    margin: 0;
}

.card .time {
    color: #333;
    margin: 0;
}

.card .time p {
    margin: 0;
    margin-top: 3px;
}

.card .time p img {
    margin-right: 3px;
    margin-top: 3px;
    float: left;
}

.card .time span {
    margin-top: 3px;
    float: left;
}

.card .author {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0;
}

footer {
    background-color: #ffffff;
    text-align: center;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}